.center{
    display: block;
    margin: auto;
}
.text-center{
    text-align: center;
}

form input[type='text'], span.form-control, .table tbody, ul li{
    text-transform: uppercase;
}

.bold{
    font-weight: bold
}
form label{
    font-weight: bolder;
    text-transform: uppercase;
}


